body {
  font-family: Tahoma, Geneva, sans-serif;
  background: black;
  margin: 0px;
}

.monitor {
  font-family: "Lucida Console", Monaco, monospace, Courier, 'Courier New';
  font-size: 13px;
  white-space: nowrap;
  white-space: pre;
  padding-left: 3px;
  overflow: hidden;
}

#monitor {
  overflow: hidden;
  line-height: 17px;
  z-index: 20;
  position: absolute;
  left: 0px;
  top: 9px;
  bottom: 0px;
  width: 100%;
  height: calc(100% - 10px); 
}

#bgvid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
}

#l1 {
  z-index: 10;
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url('/pix/blackgrid2.png') repeat;
}

#l2 {
  z-index: 15;
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.8;
}

#overlay {
  z-index: 20;
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.0;
}

#filteralert {
  z-index: 25;
  position: fixed;
  overflow: hidden;
  top: 10px;
  right: 10px;
  padding: 5px;
  width: 4px;
  height: 4px;
  background: #f90;
  border-radius: 50%;
  color: black;
  box-shadow: 0 1px 20px black;
  text-align: center;
  opacity: 0.0;
  color: black;
  font-size: 15px;
  font-weight: bold;
}

#alarmalert {
  z-index: 26;
  position: fixed;
  overflow: hidden;
  top: 2px;
  right: 2px;
  padding: 5px;
  width: 20px;
  height: 20px;
  text-align: center;
  opacity: 0.0;
  font-size: 13px;
  font-weight: normal;
  color: #f00;
  text-shadow: 0 1px 10px black;
}

#filter {
  z-index: 25;
  position: fixed;
  overflow: hidden;
  opacity: 0.0;
  top: 1%;
  left: 1%;
  right: 1%;
  bottom: 1%;
  text-align: center;
  padding-top: 200px;
}

#freetext {
  border: 3px solid #333;
  background: #333;
  color: #fe0;
  border-radius: 10px;
  font-family: "Lucida Console", Monaco, monospace, Courier, 'Courier New';
  font-size: 15px;
  font-weight: bold;
  padding: 13px;
  box-shadow: 0 1px 30px black;
  min-width: 200px;
}

#debug {
  color: #3ff;
}

input:focus {
 outline: none;
}
